/* CSS code for styling the article */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  hsl(0, 0%, 100%);;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



/*-----------------------------------*\ 
  #HEADER
\*-----------------------------------*/

header { background:  hsl(0, 0%, 100%); }
footer { background:  hsl(0, 0%, 97%); }

.d-flex .img-fluid{
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
}

.navbar {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  gap: 15px;
  padding: 15px 0;
}

.logo{
font-family: 'Poppins' sans-serif;
  font-size: 1.8rem;
  color: hsl(229, 76%, 66%);
  font-weight: 600;
  text-decoration: none;

}










.text-section {
    flex: 1;
    margin-right: 20px;
}

.text-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1.1rem;
}

.image-section {
    position: relative;
    width: 470px;
    height: 470px;
    justify-self: center;
    place-items: center ;
    
}

.image-section img {
    max-width: 60%;
}


.img-fluid{
    width: 850px;
    height: 500px;
    margin-top: 1rem;

}

.share i {
    width: 3rem;
    font-size: 1.5rem;
}

/*  COMMENTS */

.container__comment {
    background: #fff;
    padding: 20px;
    font-family: monospace;
    width: 500px;
    box-shadow: 0 0 5px #000;
    margin-left: 10rem;
}

.head {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 0.9em;
}

.commentbox {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.commentbox > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* float: left; */
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.content {
    width: 100%;
}

.user1 {
    border: none;
    outline: none;
    margin: 5px 0;
    color: #808080;
    margin-left: 20px;
    padding: 10px;
}

.commentinput > input {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
}

.buttons > button {
    padding: 5px 10px;
    background: lightgrey;
    color: #808080;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttons > button.abled {
    background: blue;
    color: #fff;
}

.policy {
    margin: 20px 0;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
    color: #808080;
}

.policy a {
    text-decoration: none;
    color: blue;
}

.notify {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.notify > input {
    margin-right: 5px;
    border: 2px solid #808080;
}

.parents {
    font-family: Arial, sans-serif;
    display: flex;
    margin-bottom: 30px;
}

.parents h1 {
    font-size: 0.9em;
}

.parents p {
    margin: 10px 0;
    font-size: 0.9em;
}

.parents > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.engagements {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.engagements img {
    width: 20px;

}

.engagements img:nth-child(1) {
    margin-right: 10px;
    width: 25px;
}

.date {
    color: #808080;
    font-size: 0.8em;
}
.astuce{
    font-family: 'Poppins' , sans-serif;
    color: hsl(229, 76%, 66%);
    font-weight: 600;
    font-size: 1rem;
}